version: "3.4"
services:
  postgres:
    restart: always
    image: postgres:12
    environment:
      POSTGRES_USER: {{ YetAnotherDisk_pg_user }}
      POSTGRES_PASSWORD: {{ YetAnotherDisk_pg_password }}
      POSTGRES_DB: {{ YetAnotherDisk_pg_dbname }}
    volumes:
      - /var/lib/postgresql/data:/var/lib/postgresql/data

  YetAnotherDisk:
    restart: always
    image: {{ YetAnotherDisk_image }}
    command: YetAnotherDisk-api
    ports:
      - 80:80
    environment:
      YetAnotherDisk_PG_URL: postgresql://{{ YetAnotherDisk_pg_user }}:{{ YetAnotherDisk_pg_password }}@postgres/{{ YetAnotherDisk_pg_dbname }}
